@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';

button {
    border: 1px solid variables.$Black-Font;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Vogue';
    font-size: 1rem;
    padding: 0.5rem 1.5rem 0.3rem;
    margin: 1.5rem 0;
}

.projects {
    margin: 1rem;

    &__head {
        text-align: end;
        @include mixins.tablet {
            display: flex;
        }

        &--picture {
            width: 100%;
            height: 9rem;
            margin-bottom: 1rem;
        }

        &--arrow {
            height: 3rem;
            display: block;
            margin: auto;
        }
    }

    &__all {
        margin-top: 1rem;
        text-align: center;

        &--container {
            border-top: 2px dashed variables.$Light-Grey;
            display: flex;
            flex-direction: column;

            &__checkit, &__googlemoods, &__instagram, &__office {
                filter: grayscale(100%);
                border: 1px solid variables.$Light-Grey;
                padding: 0.5rem;
                border-radius: 10px;
                display: block;
                margin: auto;
            }

            &__checkit {
                height: 18rem;
            }

            &__googlemoods {
                height: 16.5rem;
            }

            &__instagram {
                height: 17.5rem;
            }

            &__office {
                height: 17.5rem;
            }
        }
    }
}