@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';

button {
    border: 1px solid variables.$Black-Font;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    font-family: 'Vogue';
    font-size: 1rem;
    padding: 0.5rem 1.5rem 0.3rem;
    margin: 1.5rem 0;

    &:hover {
        color:variables.$Hover;
        border-color: variables.$Hover;
        opacity: 80%;

        @include mixins.tablet {
            font-size: 1.3rem;
            padding: 0.5rem 3rem 0.3rem;
        }
    }   
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

li { 
    &:hover {
        font-weight: 600;
    }
}

h2 {
    opacity: 70%;

    @include mixins.tablet {
        font-size: 2rem;
    }
}

.projects {
    margin: 1rem;

    @include mixins.tablet {
        margin: 1.5rem;
    }

    &__section {

        @include mixins.tablet {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        @include mixins.desktop {
            margin: 2rem 0;
        }
    }

    &__head {
        text-align: end;

        @include mixins.tablet {
            text-align: start;
            width: 47%;
        }

        @include mixins.tablet {
            margin-top: 1rem;
        }

        &--title {
            @include mixins.tablet {
                margin-top: 0;
                font-size: 2.7rem;
            }

            @include mixins.desktop {
                font-size: 4rem;
            }
        }

        &--description {
            border-top: 1.5px solid variables.$Black-Font;
            border-bottom: 1.5px solid variables.$Black-Font;
            padding-top: 0.2rem;

            @include mixins.tablet {
                font-size: 1.5rem;
                padding-top: 0.4rem;
                line-height: 1.8rem;
            }

            @include mixins.desktop {
                font-size: 2.7rem;
                line-height: 2.5rem;
                padding-top: 0.7rem;
                padding-bottom: 0.2rem;
            }
        }

        &--picture {
            width: 100%;
            margin-bottom: 1rem;

            @include mixins.tablet {
                width: 50%;
            }
        }

        &--arrow {
            height: 3rem;
            display: block;
            margin: auto;
            padding-bottom: 0.5rem;
        }
    }

    &__nav {
        background-color: variables.$Light-Grey;
        border-radius: 5px;
        opacity: 60%;
        padding: 0.5rem;
        margin-bottom:1rem;
        font-size: 0.5rem;

        @include mixins.tablet {
            font-size: 0.63rem;
            padding: 0.8rem;
        }

        @include mixins.desktop {
            font-size: 1.1rem;
            padding: 1.2rem;
        }

        &--edit {
            padding-top: 0.1rem;

            @include mixins.tablet {
                padding-top: 0.15rem;
            }

            @include mixins.desktop {
                padding-top: 0.25rem;
            }
        }
    }

    &__all {
        margin-top: 1rem;
        text-align: center;

        &--container {
            border-top: 2px dashed variables.$Light-Grey;
            display: flex;
            flex-direction: column;

            &__checkit, &__googlemoods, &__instagram, &__office {
                filter: grayscale(100%);
                border: 1px solid variables.$Light-Grey;
                padding: 0.5rem;
                border-radius: 10px;
                display: block;
                margin: auto;
            }

            &__checkit {
                height: 18rem;

                @include mixins.tablet {
                    height: 24rem;
                }
            }

            &__googlemoods {
                height: 16.5rem;

                @include mixins.tablet {
                    height: 21.5rem;
                }
            }

            &__instagram {
                height: 17.5rem;

                @include mixins.tablet {
                    height: 23.5rem;
                }
            }

            &__office {
                height: 17.5rem;

                @include mixins.tablet {
                    height: 23.5rem;
                }
            }
        }
    }
}