@use './mixins';
@use './variables';
@use './fonts';

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // font-family:'Vogue', sans-serif;
    font-family: sans-serif;
    background-color: variables.$Newspaper;
}