@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

// span {
//     text-decoration: none;
//     color: variables.$Orange;
// }

.about {
    border-radius: 5px;
    margin: 1rem 1rem 2rem;

    @include mixins.desktop {
        margin: 0.5rem 2rem;
    }

    &__introduction {
        background-color: variables.$Newspaper;
        border: 1px solid rgba(variables.$Orange, 0.5);
        border-radius: 10px;
        padding: 1rem;
        margin-bottom: 1rem;

        &--intro {
            margin: 0;
            padding: 0.5rem 0 1rem;
            letter-spacing: 2px;
            font-size: 1.5rem;
            font-weight: 600;
            color: variables.$Orange;

            @include mixins.tablet {
                font-size: 2rem;
            }

            @include mixins.desktop {
                font-size: 2.5rem;
            }

        }

        &--description {
            font-weight: 300;
            color: variables.$Black-Font;
            margin: 0;
            font-size: 0.8rem;
            padding-bottom: 1rem;
        }
    }


    &__section {

        &--me,
        &--salmon,
        &--kaws,
        &--kayak {
            width: 100%;
            display: block;
            margin: 0 auto 1rem;
            border-radius: 5%;
        }


    }

    &__work {
        font-size: 0.8rem;
        font-weight: 300;
        border-left: 1px solid variables.$Orange;
        padding-left: 1rem;

        @include mixins.tablet {
            font-size: 1.5rem;
            line-height: 1.5rem;
        }

        @include mixins.desktop {
            font-size: 1.8rem;
        }
    }
}