@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.about {
    margin: 1rem;

    &__title {
        font-size: 2.3rem;
        text-align: end;
        margin-bottom: 0;
    }

    &__last {
        writing-mode: vertical-rl;
        margin: 0;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }

    &__first {
        letter-spacing: 2px;
        font-size: 2.5rem;
    }

    &__section {
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
    }

    &__position {
        line-height: 22px;
        display: block;
        margin: auto;
        font-size: 25px;
        border-bottom: 2px solid variables.$Black-Font;
        border-top: 2px solid variables.$Black-Font;
        padding-top: 0.3rem;

    }

    &__mountain {
        &--one {
            width: 30%;
        }

        &--two {
            width: 20%;
            margin: 0 0.5rem;
            
        }
    }
}