@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

a {
    text-decoration: none;
    color: variables.$Black-Font;
}


.sidebar {
    padding-bottom: 0.7rem;
    border-bottom: 2px solid variables.$Black-Font;
    margin: 0 1rem;

    @include mixins.tablet {
        margin: 0 1rem;
    }

    @include mixins.desktop {
        margin: 0 1.5rem;
        padding-bottom: 1.5rem;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        @include mixins.tablet {
            margin-top: 1.5rem;
        }

        @include mixins.desktop {
            margin-top: 2.5rem;

        }
    }

    &__initial {
        margin: 0.5rem 0 0 0.5rem;
        padding: 0.3rem 0.8rem;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing: 1px;
        color: variables.$Newspaper;
        background-color: rgba(variables.$Orange, 0.8);
        border-radius: 10px;

        @include mixins.tablet {
            font-size: 3rem;
            padding: 0.5rem 1.5rem;
            margin-left: 1.5rem;
        }

        @include mixins.desktop {
            font-size: 5rem;
            padding: 0.5rem 2rem;
            margin-left: 2rem;
        }
    }

    &__header {
        display: flex;
        margin-top: 0.8rem;

        @include mixins.tablet {
            margin-top: 0.5rem;
            margin-right: 1rem;
        }

        @include mixins.desktop {
            margin-top: 1.5rem;
        }

    }

    &__nav {
        margin-right: 1rem;
        padding-bottom: 0;
        font-size: 0.7rem;
        margin-top: 0.65rem;

        @include mixins.tablet {
            font-size: 1.2rem;
            margin-top: 1.5rem;
            margin-right: 1.2rem;
        }

        @include mixins.desktop {
            font-size: 1.5rem;
            margin-right: 2rem;
            margin-top: 1.7rem;
        }

        &:hover {
            color: variables.$Orange;
            border-bottom: 1px solid variables.$Orange;
        }
    }
}