@use '../../../styles/partials/global';
@use '../../../styles/partials/mixins';
@use '../../../styles/partials/variables';


ul {
    list-style-type: none;
}


.connector {
    margin: 0 1rem 2rem;

    @include mixins.tablet {
        margin: 0 3.5rem 2rem;
    }

    @include mixins.desktop {
        margin: 0 15rem 3rem;
    }

    &__title {
        background-color: #00408B;
        width: 100%;
        color: variables.$Newspaper;
        font-weight: 600;
        font-size: 1.2rem;
        text-align: center;
        padding: 4rem 3rem;
        border-radius: 15px;
        text-transform: uppercase;

        @include mixins.tablet {
            padding: 6rem 3rem;
            font-size: 2rem;
        }

        @include mixins.desktop {
            font-size: 5rem;
        }

        &--project {
            color: variables.$Black-Font;
            font-size: 1.2rem;
            font-weight: 400;
            text-transform: uppercase;
            margin-top: 3rem;

            @include mixins.tablet {
                font-size: 1.7rem;
                text-align: center;
                margin-top: 3rem;
                font-weight: 600;
            }

            @include mixins.desktop {
                font-size: 2.5rem;
            }
        }

        &--role {
            color: variables.$Dark-Grey;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 0;

            @include mixins.tablet {
                font-size: 1.3rem;
            }

            @include mixins.desktop {
                font-size: 1.8rem;
            }
        }
    }

    &__section {
        @include mixins.tablet {
            display: flex;
            justify-content: space-around;
        }
    }

    &__info {
        margin: 0.5rem 0 2rem;
        padding-left: 1rem;
        border-left: 1px solid #00408B;

        @include mixins.tablet {
            font-size: 1.2rem;
        }

        @include mixins.desktop {
            font-size: 1.6rem;
        }
    }

    &__container {
        background-color: rgba(#00408B, 0.15);
        padding: 1.5rem 1rem;
        margin: 3rem 0 2rem;
        border-radius: 20px;

        @include mixins.tablet {
            padding: 3rem;
            margin-top: 2rem;
        }

        @include mixins.desktop {
            padding: 5rem 6.5rem;
        }

        &--intro {
            margin: 0;
            color: rgba(variables.$Black-Font, 0.7);
            font-weight: 400;
            text-transform: uppercase;
            font-size: 1.5rem;

            @include mixins.tablet {
                font-size: 1.8rem;
            }

            @include mixins.desktop {
                font-size: 2.3rem;
            }

            &--description {
                color: variables.$Black-Font;
                font-weight: 100;

                @include mixins.tablet {
                    font-size: 1.3rem;
                    margin-bottom: 0;
                }

                @include mixins.desktop {
                    font-size: 1.7rem;
                }
            }
        }

        &--button {
            background-color: rgba(variables.$Orange, 0.8);
            width: 40%;
            color: variables.$Newspaper;
            border-radius: 15px;
            margin-top: 1rem;
            align-items: center;
            padding: 0.5rem;
            font-weight: 400;
            font-size: 1rem;

            @include mixins.tablet {
                font-size: 1.2rem;
                width: 30%;
                margin-top: 1.5rem;

            }

            @include mixins.desktop {
                font-size: 1.5rem;
                margin-top: 2rem;
                width: 20%;
            }
        }
    }

    &__images {
        @include mixins.tablet {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
        }

        &--showcase {
            margin-top: 1rem;
            border-radius: 20px;
            width: 100%;
            padding: 0.5rem;
            border: 1px solid rgba(#00408B, 0.5);

            @include mixins.tablet {
                width: 49%;
            }

            @include mixins.desktop {
                width: 24%;
            }
        }
    }

    &__features {
        padding: 1.5rem 1rem 1rem;
        margin: 2rem 0 2rem;
        border-radius: 20px;
        border: 2px solid rgba(#00408B, 0.5);

        @include mixins.tablet {
            padding: 2rem 3rem 1rem;
        }

        @include mixins.desktop {
            padding: 4rem 6.5rem;
        }

        &--title {
            color: #00408B;
            font-weight: 400;
            margin: 0;
            text-transform: uppercase;
            font-size: 1.5rem;

            @include mixins.tablet {
                font-size: 1.8rem;
            }

            @include mixins.desktop {
                font-size: 2.3rem;
            }
        }

        &--list {
            color: rgba(variables.$Black-Font, 0.7);
            font-weight: 100;
            padding: 0;

            @include mixins.tablet {
                font-size: 1.3rem;
            }

            @include mixins.desktop {
                font-size: 1.7rem;
                margin-bottom: 0;
            }
        }
    }

    &__back {
        background-color: transparent;
        color: variables.$Dark-Grey;
        padding: 0;
        font-size: 0.8rem;

        @include mixins.tablet {
            font-size: 1rem;
        }

        @include mixins.desktop {
            font-size: 1.2rem;
        }
    }
}