@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';

.home {
    margin: 1rem;

    @include mixins.tablet {
        margin: 1.5rem ;
    }

    @include mixins.desktop {
        margin: 2.5rem;
        display: flex;
    }

    &__image {
        border: 1px solid variables.$Black-Font;
        padding: 0.2rem;
        width: 100%;

        @include mixins.tablet {
            width: 80%;
            display: block;
            margin: auto;
        }

        @include mixins.desktop {
            width: 50%;
            margin: 0;
        }
    }

    &__info {
        display: block;
        margin: auto;

        @include mixins.tablet {
            width: 80%;
        }

        @include mixins.desktop{
            width: 45%;
            // margin: 0 1rem 0 2rem;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
        }
        
    }

    &__portfolio {
        font-size: 2.5rem;
        margin-bottom: 0;
        letter-spacing: 2px;

        @include mixins.tablet {
            font-size: 3.5rem;
            margin-top: 1.5rem;
        }

        @include mixins.desktop {
            font-size: 4.5rem;
            margin-top: 0;
            padding-bottom: 3.5rem;
        }
    }

    &__year {
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 1.5rem;

        @include mixins.tablet {
            font-size: 2rem;
        }

        @include mixins.desktop {
            margin-top: 0;
        }
    }

    &__name {
        text-align: end;
        font-size: 3rem;
        margin-top: 0;
        margin-bottom: 0;
        border-top: 2px solid variables.$Black-Font;
        border-bottom: 2px solid variables.$Black-Font;
        padding: 0.5rem 0 0;

        @include mixins.tablet {
            font-size: 5rem;
        }
    }

    &__position {
        margin-top: 1rem;
        letter-spacing: 1px;
        line-height: 28px;

        @include mixins.tablet {
            font-size: 2rem;
            line-height: 32px;
        }

        @include mixins.desktop {
            margin-top: 1.5rem;
            line-height: 40px;
            font-size: 2.5rem;
            margin-bottom: 0;
        }
        
    }
}