@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';


span {
    font-weight: 500;
    color: variables.$Orange;
}


.home {
    margin: 1rem 1rem 0;

    @include mixins.tablet {
        margin: 3rem 1.5rem 0;
    }


    &__image {
        border: 1px solid variables.$Black-Font;
        border-radius: 5px;
        padding: 0.2rem;
        width: 80%;
        display: block;
        margin: 1rem auto;

        @include mixins.tablet {
            width: 70%;
            display: block;
            margin: 2rem auto;
            padding: 0.5rem;
        }

        @include mixins.desktop {
            width: 50%;
            margin: 3rem auto;
        }
    }

    &__info {
        display: block;
        margin: auto;

        @include mixins.tablet {
            width: 80%;
        }

        @include mixins.desktop {
            width: 45%;
            // margin: 0 1rem 0 2rem;
            // display: flex;
            // flex-direction: column;
            // justify-content: space-evenly;
        }

    }

    &__portfolio {
        font-size: 2.5rem;
        margin-bottom: 0;
        letter-spacing: 2px;

        @include mixins.tablet {
            font-size: 3.5rem;
            margin-top: 1.5rem;
        }

        @include mixins.desktop {
            font-size: 4.5rem;
            margin-top: 0;
            padding-bottom: 3.5rem;
        }
    }

    &__year {
        margin-top: 0.5rem;
        font-weight: 400;
        font-size: 1.5rem;

        @include mixins.tablet {
            font-size: 2rem;
        }

        @include mixins.desktop {
            margin-top: 0;
        }
    }

    &__name {
        text-align: center;
        font-size: 2rem;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 500;
        padding: 0.5rem 0 0;

        @include mixins.tablet {
            font-size: 4rem;
        }

        @include mixins.desktop {
            font-size: 6rem;
            line-height: 120px;
        }
    }

    &__position {
        text-align: center;
        font-weight: 100;
        margin: 0.5rem 2rem;
        letter-spacing: 1px;
        line-height: 20px;
        font-size: 0.8rem;

        @include mixins.tablet {
            font-size: 1.5rem;
            line-height: 32px;
            margin: 0.5rem 3rem;

        }

        @include mixins.desktop {
            margin: 0.8rem 1rem;
            line-height: 50px;
            font-size: 2.5rem;
        }

    }

    &__footer {
        border-top: 1px solid variables.$Light-Grey;
        text-align: center;
        margin: 0 1rem;

        @include mixins.tablet {
            margin: 0 6rem;
        }

        @include mixins.desktop {
            margin: 0 3rem 2rem;
        }

        &--linkedin {
            width: 25px;
            height: 25px;
            opacity: 30%;
            margin-top: 3px;

            @include mixins.tablet {
                width: 30px;
                height: 30px;
            }

            @include mixins.desktop {
                width: 35px;
                height: 35px;
                margin-top: 0.5rem;
            }
        }

        &--git {
            width: 20px;
            height: 20px;
            opacity: 30%;
            margin-bottom: 3px;
            margin-left: 0.5rem;

            @include mixins.tablet {
                width: 25px;
                height: 25px;
            }

            @include mixins.desktop {
                width: 30px;
                height: 30px;
            }

        }
    }
}