@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';


textarea {
    resize: none;
    padding: 0.6rem 0 0 0.5rem;
    font-family: sans-serif;
    height: 8rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    width: 80%;
    border: 1px solid variables.$Light-Grey;
    border-radius: 5px;


    @include mixins.tablet {
        font-size: 1rem;
        width: 95%;
        margin-left: 1.5rem;
    }

    @include mixins.tablet {
        height: 13.5rem;
        font-size: 1.1rem;
    }

}

.contacts {
    @include mixins.desktop {
        display: flex;
        justify-content: space-evenly;
        margin: 0 2rem;
    }

    &__style {
        margin: 1rem;

        @include mixins.tablet {
            height: 520px;
        }

        @include mixins.desktop {
            height: 710px;
            margin-top: 0;
        }
    }

    &__mainTitle {
        color: rgba(variables.$Orange, 0.8);
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin: 0;
    }

    // &__words {
    //     display: flex;
    //     justify-content: center;
    //     position: relative;
    //     bottom: 10rem;
    //     gap: 1rem;
    //     margin-top: 7rem;
    //     color: variables.$Dark-Grey;

    //     @include mixins.tablet {
    //         font-size: 1.4rem;
    //         bottom: 20rem;
    //         margin-top: 0;
    //     }

    //     @include mixins.desktop {
    //         bottom: 19rem;
    //         gap: 0.5rem;
    //         font-size: 1rem;
    //     }
    // }


    // &__background {
    //     opacity: 10%;
    //     z-index: -1000;

    //     &--add {
    //         display: none;

    //         @include mixins.tablet {
    //             display: flex;
    //             opacity: 20%;
    //             z-index: -1;
    //         }

    //     }
    // }

    &__title {
        margin: 0 1rem;
        border-top: 1px solid rgba(variables.$Dark-Grey, 0.3);
        border-bottom: 1px solid rgba(variables.$Dark-Grey, 0.3);
        padding: 0.5rem;
        color: variables.$Darkest-Grey;
        font-weight: 100;
        font-size: 0.6rem;

        @include mixins.tablet {
            margin: 0 15rem;
        }

        @include mixins.desktop {
            margin: 0 7rem;
        }
    }

    &__section {
        text-align: center;

        @include mixins.tablet {
            margin: 0 1rem;
        }

        @include mixins.desktop {
            margin: 2rem 0 0;
        }
    }

    &__form {
        margin: 1rem;

        @include mixins.desktop {
            margin-left: 0;
        }

        &--info {
            @include mixins.tablet {
                display: flex;
                justify-content: space-between;

            }
        }
    }

    &__area {
        display: flex;
        margin-bottom: 1rem;
        justify-content: flex-start;

        &--message {
            @include mixins.tablet {
                margin-left: 0;
            }

        }

        &--send {
            margin-bottom: 1rem;
            text-align: end;

            &__button {
                background-color: rgba($color: variables.$Orange, $alpha: 0.8);
                padding: 0.5rem 4.9rem;
                border-radius: 10px;
                border: none;
                color: variables.$Newspaper;
                font-weight: 400;
                letter-spacing: 2px;

                @include mixins.tablet {
                    padding: 0.6rem 6rem;
                }

                @include mixins.desktop {
                    padding: 0.8rem 10rem;
                    font-size: 1.2rem;
                }
            }
        }

        &--name {
            @include mixins.tablet {
                margin-right: 1rem;
            }
        }
    }

    &__subtitle {
        font-size: 0.8rem;
        inline-size: 7rem;
        text-align: start;
        color: variables.$Orange;
        font-weight: 300;
        text-transform: lowercase;
        margin: 0.5rem 0 0;

        @include mixins.tablet {
            font-size: 1.3rem;
            inline-size: 9rem;

        }

        &--fullname {
            @include mixins.tablet {
                margin-right: 2.3rem;
                inline-size: 11rem;
            }
        }
    }

    &__control {
        width: 80%;
        height: 2rem;
        padding-left: 0.5rem;
        font-size: 0.7rem;
        border-radius: 5px;
        border: 1px solid variables.$Light-Grey;

        @include mixins.tablet {
            width: 95%;
            margin-top: 0.75rem;
            font-size: 1rem;
            padding-top: 0.2rem;
        }

        &--name {
            margin-left: 0.2rem;

            @include mixins.tablet {
                margin-left: 0.3rem;
                padding-right: 4rem;
            }

            @include mixins.desktop {
                margin-left: 0;
            }
        }

        &--email {
            @include mixins.tablet {
                padding-right: 4rem;
            }
        }

        &--subject {
            @include mixins.tablet {
                margin-left: 1.5rem;
            }
        }

    }
}