@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';
@use '../../styles/partials/fonts';

h2 {
    margin: 0 1rem;

    @include mixins.tablet {
        margin: 0 5.5rem;
    }
}

.contacts {
    margin: 1rem;
    height: 350px;

    @include mixins.tablet {
        height: 500px;
    }

    @include mixins.desktop{
        height: 690px;
    }

    &__words{
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 16rem;
        gap: 1rem;
        margin-top: 2rem;

        @include mixins.tablet {
            font-size: 1.4rem;
            bottom: 20rem;
            margin-top: 0;
        }

        @include mixins.desktop {
            font-size: 1.8rem;
            bottom: 28rem;
        }
    }

    &__mountain-picture {
        max-width: 16rem;
        display: block;
        margin: auto;
        filter: grayscale(100%);
        padding: 0.5rem;
        border: 2px solid variables.$Black-Font;

        @include mixins.tablet {
            max-width: 25rem;
            margin-top: 2rem;
        }

        @include mixins.desktop {
            max-width: 37rem;
            margin-top: 3rem;
        }
    }

    &__background {
        opacity: 20%;
        z-index: -1;

        &--add {
            display: none;
            @include mixins.tablet {
                display: flex;
                opacity: 20%;
                z-index: -1;
            }

            &__two {
                display: none;

                @include mixins.desktop {
                    display: flex;
                    opacity: 20%;
                    z-index: -1;
                }

            }
        }
    }
}