@use '../../styles/partials/global';
@use '../../styles/partials/mixins';
@use '../../styles/partials/variables';


textarea {
    resize: none;
    padding: 0.6rem 0 0 0.5rem;
    font-family: sans-serif;
    height: 8rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
    width: 80%;
    border: 1px solid rgba(variables.$Light-Grey, 0.5);
    border-radius: 10px;

    @include mixins.tablet {
        font-size: 1rem;
        width: 95%;
        margin-left: 1.5rem;
    }

    @include mixins.tablet {
        height: 13.5rem;
    }

}

.contacts {

    @include mixins.tablet {
        margin: 1rem 3.5rem;
    }

    @include mixins.desktop {
        display: flex;
        justify-content: space-between;
        margin: 0 9rem;
        flex-direction: row-reverse;
    }

    &__style {
        margin: 1rem;
    }

    &__mainTitle {
        color: rgba(variables.$Orange, 0.8);
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        margin: 0;

        @include mixins.tablet {
            margin: 2rem 0;
            font-size: 2.5rem;
            font-weight: 600;
        }

        @include mixins.desktop {
            writing-mode: vertical-lr;
            font-size: 4rem;
        }
    }


    &__title {
        margin: 0 1rem;
        border-top: 1px solid rgba(variables.$Dark-Grey, 0.3);
        border-bottom: 1px solid rgba(variables.$Dark-Grey, 0.3);
        padding: 0.5rem;
        color: variables.$Darkest-Grey;
        font-weight: 100;
        font-size: 0.6rem;

        @include mixins.tablet {
            font-size: 1rem;
            font-weight: 400;
            margin: 0 5rem;
        }

        @include mixins.desktop {
            font-size: 1.5rem;
            margin: 0 1rem 0 0;
        }
    }

    &__section {
        text-align: center;

        @include mixins.tablet {
            margin: 0 1rem;
        }

        @include mixins.desktop {
            margin: 2rem 0 0;
            width: 100%;
        }
    }

    &__form {
        margin: 1rem;

        @include mixins.desktop {
            margin-left: 0;
        }

        &--info {
            @include mixins.tablet {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__area {
        display: flex;
        margin-bottom: 1rem;
        justify-content: flex-start;

        &--message {
            @include mixins.tablet {
                margin-left: 0;
            }
        }

        &--email,
        &--name {
            @include mixins.desktop {
                width: 50%;
            }
        }

        &--send {
            margin-bottom: 1rem;
            text-align: end;

            &__button {
                background-color: rgba($color: variables.$Orange, $alpha: 0.8);
                padding: 0.5rem 4.9rem;
                border-radius: 10px;
                border: none;
                color: variables.$Newspaper;
                font-weight: 400;
                letter-spacing: 2px;

                @include mixins.tablet {
                    padding: 0.8rem 3rem;
                    font-size: 1.3rem;
                }

                @include mixins.desktop {
                    padding: 0.8rem 10rem;
                }
            }
        }

        &--name {
            @include mixins.tablet {
                margin-right: 1rem;
            }
        }
    }

    &__subtitle {
        font-size: 0.8rem;
        inline-size: 7rem;
        text-align: start;
        color: variables.$Orange;
        font-weight: 300;
        text-transform: lowercase;
        margin: 0.5rem 0 0;

        @include mixins.tablet {
            font-size: 1rem;
            inline-size: 9rem;
            margin: 1rem 0;
        }

        &--name {
            @include mixins.tablet {
                margin-right: 2.3rem;
            }

        }

        &--email {
            @include mixins.tablet {
                text-align: right;
                margin-right: 1.5rem;
            }
        }
    }

    &__control {
        width: 80%;
        height: 2rem;
        padding-left: 0.5rem;
        font-size: 0.7rem;
        border-radius: 10px;
        border: 1px solid rgba(variables.$Light-Grey, 0.5);

        @include mixins.tablet {
            width: 95%;
            margin-top: 0.7rem;
            font-size: 1rem;
            padding-top: 0.2rem;
        }

        @include mixins.desktop {
            margin-top: 0.6rem;
        }

        &--name {

            @include mixins.tablet {
                margin-left: 1.5rem;
            }

            @include mixins.desktop {
                margin-left: 0.8rem;
            }
        }

        &--subject {
            @include mixins.tablet {
                margin-left: 1.5rem;
            }
        }

    }
}